div#container {
    width: 970px;
    position: relative;
    margin: 0 auto 0 auto;
    text-align: left;
}

body {
    background-image: url("/onloadImg/img2-2.jpg");
    background-color: white;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.1875;
    margin: 0;
    text-align: center;
}

a {
    color: #0000FF;
    text-decoration: underline;
}

a:visited {
    color: #800080;
}

a:active {
    color: #FF0000;
}

a:hover {
    color: #0000FF;
    text-decoration: underline;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

#username {
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: "Cairo";
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    box-sizing: border-box;
    line-height: 18px;
    padding: 4px 4px 4px 4px;
    margin: 35px 0px 0px 0px;
    text-align: left;
}

#username:focus {
    border-color: #265A88;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(38, 90, 136, 0.60);
    outline: 0;
}

#password {
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: "Cairo";
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    box-sizing: border-box;
    line-height: 18px;
    padding: 4px 4px 4px 4px;
    margin: 10px 0px 10px 0px;
    text-align: left;
}

#password:focus {
    border-color: #265A88;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(38, 90, 136, 0.60);
    outline: 0;
}

#Label4 {
    border: 0px solid #CCCCCC;
    border-radius: 4px;
    background-color: transparent;
    background-image: none;
    color: #2F4F4F;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    box-sizing: border-box;
    padding: 2px 4px 4px 4px;
    margin: 0;
    text-align: left;
    vertical-align: top;
}

#rememberme {
    margin: 0;
}

#login1 {
    border: 1px solid #263238;
    background-color: #263238;
    background-image: none;
    color: #F5F5F5;
    font-family: "Cairo";
    font-weight: 700;
    font-style: normal;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    font-size: 19px;
    font-size: 13px;
    padding: 0;
    text-align: center;
    -webkit-appearance: none;
    margin: 0;
}

#wb_CssMenu2 {
    border: 0px solid #C0C0C0;
    background-color: transparent;
    margin: 0;
    text-align: left;
    z-index: 1111 !important;
}

#wb_CssMenu2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
}

#wb_CssMenu2 li {
    float: left;
    margin: 0;
    padding: 0px 4px 0px 0px;
}

#wb_CssMenu2 a {
    display: block;
    float: left;
    color: #483D8B;
    border: 0px solid #CCCCCC;
    background-color: transparent;
    background-image: none;
    font-family: Arial;
    font-weight: normal;
    font-size: 12px;
    font-style: normal;
    text-decoration: none;
    height: 28px;
    line-height: 28px;
    padding: 0px 5px 0px 5px;
    vertical-align: middle;
    text-align: left;
}

#wb_CssMenu2 li:hover a,
#wb_CssMenu2 a:hover {
    color: #483D8B;
    border: 0px solid #2E6DA4;
    background-color: transparent;
    background-image: none;
}

#wb_CssMenu2 li.firstmain {
    padding-left: 0px;
}

#wb_CssMenu2 li.lastmain {
    padding-right: 0px;
}

#wb_CssMenu2 br {
    clear: both;
    font-size: 1px;
    height: 0;
    line-height: 0;
}

#wb_LayoutGrid1 {
    clear: both;
    position: relative;
    table-layout: fixed;
    display: table;
    text-align: center;
    width: 100%;
    background-color: transparent;
    background-image: none;
    border: 0px solid #CCCCCC;
    box-sizing: border-box;
    margin: 0;
}

#LayoutGrid1 {
    box-sizing: border-box;
    padding: 15px 15px 10px 15px;
    margin-right: auto;
    margin-left: auto;
}

#LayoutGrid1>.row {
    margin-right: -15px;
    margin-left: -15px;
}

#LayoutGrid1>.row>.col-1,
#LayoutGrid1>.row>.col-2,
#LayoutGrid1>.row>.col-3,
#LayoutGrid1>.row>.col-4 {
    box-sizing: border-box;
    font-size: 0px;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

#LayoutGrid1>.row>.col-1,
#LayoutGrid1>.row>.col-2,
#LayoutGrid1>.row>.col-3,
#LayoutGrid1>.row>.col-4 {
    float: left;
}

#LayoutGrid1>.row>.col-1 {
    background-color: transparent;
    background-image: none;
    border: 0px solid #FFFFFF;
    width: 16.66666667%;
    text-align: left;
}

#LayoutGrid1>.row>.col-2 {
    background-color: transparent;
    background-image: none;
    border: 0px solid #FFFFFF;
    width: 25%;
    text-align: left;
}

#LayoutGrid1>.row>.col-3 {
    background-color: transparent;
    background-image: none;
    border: 0px solid #FFFFFF;
    width: 41.66666667%;
    text-align: right;
}

#LayoutGrid1>.row>.col-4 {
    background-color: transparent;
    background-image: none;
    border: 0px solid #FFFFFF;
    width: 16.66666667%;
    text-align: left;
}

#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after {
    display: table;
    content: " ";
}

#LayoutGrid1:after,
#LayoutGrid1 .row:after {
    clear: both;
}

@media (max-width: 767px) {
    #LayoutGrid1>.row>.col-1,
    #LayoutGrid1>.row>.col-2,
    #LayoutGrid1>.row>.col-3,
    #LayoutGrid1>.row>.col-4 {
        float: none;
        width: 100% !important;
    }
}

#wb_Image1 {
    margin: 0;
    vertical-align: top;
}

#Image1 {
    border: 0px solid #000000;
    padding: 0;
    display: inline-block;
    width: 131px;
    height: 69px;
    vertical-align: top;
}

#wb_JavaScript1 {
    margin: 1px 0px 1px 0px;
}

#wb_Text5 {
    background-color: transparent;
    background-image: none;
    border: 0px solid #000000;
    padding: 0;
    margin: 35px 0px 0px 0px;
    text-align: right;
}

#wb_Text5 div {
    text-align: right;
}

#wb_Text5 {
    display: block;
    margin: 35px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#wb_LayoutGrid3 {
    clear: both;
    position: relative;
    table-layout: fixed;
    display: table;
    text-align: center;
    width: 100%;
    background-color: transparent;
    background-image: none;
    border: 0px solid #CCCCCC;
    box-sizing: border-box;
    margin: 0;
}

#LayoutGrid3 {
    box-sizing: border-box;
    padding: 35px 15px 15px 15px;
    margin-right: auto;
    margin-left: auto;
}

#LayoutGrid3>.row {
    margin-right: -15px;
    margin-left: -15px;
}

#LayoutGrid3>.row>.col-1,
#LayoutGrid3>.row>.col-2,
#LayoutGrid3>.row>.col-3 {
    box-sizing: border-box;
    font-size: 0px;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

#LayoutGrid3>.row>.col-1,
#LayoutGrid3>.row>.col-2,
#LayoutGrid3>.row>.col-3 {
    float: left;
}

#LayoutGrid3>.row>.col-1 {
    background-color: transparent;
    background-image: none;
    border: 0px solid #FFFFFF;
    width: 41.66666667%;
    text-align: right;
}

#LayoutGrid3>.row>.col-2 {
    background-color: transparent;
    background-image: none;
    border: 0px solid #FFFFFF;
    width: 16.66666667%;
    text-align: left;
}

#LayoutGrid3>.row>.col-3 {
    background-color: transparent;
    background-image: none;
    border: 0px solid #FFFFFF;
    width: 41.66666667%;
    text-align: left;
}

#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after {
    display: table;
    content: " ";
}

#LayoutGrid3:after,
#LayoutGrid3 .row:after {
    clear: both;
}

@media (max-width: 767px) {
    #LayoutGrid3>.row>.col-1,
    #LayoutGrid3>.row>.col-2,
    #LayoutGrid3>.row>.col-3 {
        float: none;
        width: 100% !important;
    }
}

#wb_Text2 {
    background-color: transparent;
    background-image: none;
    border: 0px solid #000000;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text2 div {
    text-align: left;
}

#wb_Text2 {
    display: block;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}

#wb_LayoutGrid5 {
    clear: both;
    position: relative;
    table-layout: fixed;
    display: table;
    text-align: center;
    width: 100%;
    background-color: transparent;
    background-image: none;
    border: 0px solid #CCCCCC;
    box-sizing: border-box;
    margin: 0;
}

#LayoutGrid5 {
    box-sizing: border-box;
    padding: 0px 15px 0px 15px;
    margin-right: auto;
    margin-left: auto;
}

#LayoutGrid5>.row {
    margin-right: -15px;
    margin-left: -15px;
}

#LayoutGrid5>.row>.col-1,
#LayoutGrid5>.row>.col-2,
#LayoutGrid5>.row>.col-3 {
    box-sizing: border-box;
    font-size: 0px;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

#LayoutGrid5>.row>.col-1,
#LayoutGrid5>.row>.col-2,
#LayoutGrid5>.row>.col-3 {
    float: left;
}

#LayoutGrid5>.row>.col-1 {
    background-color: transparent;
    background-image: none;
    border: 0px solid #FFFFFF;
    width: 41.66666667%;
    text-align: right;
}

#LayoutGrid5>.row>.col-2 {
    background-color: transparent;
    background-image: none;
    border: 0px solid #FFFFFF;
    width: 16.66666667%;
    text-align: left;
}

#LayoutGrid5>.row>.col-3 {
    background-color: transparent;
    background-image: none;
    border: 0px solid #FFFFFF;
    width: 41.66666667%;
    text-align: left;
}

#LayoutGrid5:before,
#LayoutGrid5:after,
#LayoutGrid5 .row:before,
#LayoutGrid5 .row:after {
    display: table;
    content: " ";
}

#LayoutGrid5:after,
#LayoutGrid5 .row:after {
    clear: both;
}

@media (max-width: 767px) {
    #LayoutGrid5>.row>.col-1,
    #LayoutGrid5>.row>.col-2,
    #LayoutGrid5>.row>.col-3 {
        float: none;
        width: 100% !important;
    }
}

#wb_LayoutGrid4 {
    clear: both;
    position: relative;
    table-layout: fixed;
    display: table;
    text-align: center;
    width: 100%;
    background-color: transparent;
    background-image: none;
    border: 0px solid #CCCCCC;
    box-sizing: border-box;
    margin: 0;
}

#LayoutGrid4 {
    box-sizing: border-box;
    padding: 0px 15px 35px 15px;
    margin-right: auto;
    margin-left: auto;
}

#LayoutGrid4>.row {
    margin-right: -15px;
    margin-left: -15px;
}

#LayoutGrid4>.row>.col-1,
#LayoutGrid4>.row>.col-2,
#LayoutGrid4>.row>.col-3 {
    box-sizing: border-box;
    font-size: 0px;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

#LayoutGrid4>.row>.col-1,
#LayoutGrid4>.row>.col-2,
#LayoutGrid4>.row>.col-3 {
    float: left;
}

#LayoutGrid4>.row>.col-1 {
    background-color: transparent;
    background-image: none;
    border: 0px solid #FFFFFF;
    width: 41.66666667%;
    text-align: right;
}

#LayoutGrid4>.row>.col-2 {
    background-color: #F5F5F5;
    background-image: none;
    border: 0px solid #FFFFFF;
    width: 16.66666667%;
    text-align: left;
}

#LayoutGrid4>.row>.col-3 {
    background-color: transparent;
    background-image: none;
    border: 0px solid #FFFFFF;
    width: 41.66666667%;
    text-align: left;
}

#LayoutGrid4:before,
#LayoutGrid4:after,
#LayoutGrid4 .row:before,
#LayoutGrid4 .row:after {
    display: table;
    content: " ";
}

#LayoutGrid4:after,
#LayoutGrid4 .row:after {
    clear: both;
}

@media (max-width: 767px) {
    #LayoutGrid4>.row>.col-1,
    #LayoutGrid4>.row>.col-2,
    #LayoutGrid4>.row>.col-3 {
        float: none;
        width: 100% !important;
    }
}

#wb_Text7 {
    background-color: transparent;
    background-image: none;
    border: 0px solid #000000;
    padding: 0;
    margin: 0;
    text-align: right;
}

#wb_Text7 div {
    text-align: right;
}

#wb_Text7 {
    display: block;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}

#wb_LayoutGrid2 {
    clear: both;
    position: relative;
    table-layout: fixed;
    display: table;
    text-align: center;
    width: 100%;
    background-color: transparent;
    background-image: none;
    border: 0px solid #CCCCCC;
    box-sizing: border-box;
    margin: 0;
}

#LayoutGrid2 {
    box-sizing: border-box;
    padding: 0px 15px 0px 15px;
    margin-right: auto;
    margin-left: auto;
}

#LayoutGrid2>.row {
    margin-right: -15px;
    margin-left: -15px;
}

#LayoutGrid2>.row>.col-1,
#LayoutGrid2>.row>.col-2 {
    box-sizing: border-box;
    font-size: 0px;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

#LayoutGrid2>.row>.col-1,
#LayoutGrid2>.row>.col-2 {
    float: left;
}

#LayoutGrid2>.row>.col-1 {
    background-color: transparent;
    background-image: none;
    border: 0px solid #FFFFFF;
    width: 16.66666667%;
    text-align: right;
}

#LayoutGrid2>.row>.col-2 {
    background-color: transparent;
    background-image: none;
    border: 0px solid #FFFFFF;
    width: 83.33333333%;
    text-align: left;
}

#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after {
    display: table;
    content: " ";
}

#LayoutGrid2:after,
#LayoutGrid2 .row:after {
    clear: both;
}

@media (max-width: 480px) {
    #LayoutGrid2>.row>.col-1,
    #LayoutGrid2>.row>.col-2 {
        float: none;
        width: 100% !important;
    }
}

#wb_Text4 {
    background-color: transparent;
    background-image: none;
    border: 0px solid #000000;
    padding: 0;
    margin: 15px 0px 15px 0px;
    text-align: left;
}

#wb_Text4 div {
    text-align: left;
}

#wb_Text4 {
    display: block;
    margin: 15px 0px 15px 0px;
    box-sizing: border-box;
    width: 100%;
}

#wb_CssMenu1 {
    border: 0px solid #C0C0C0;
    background-color: transparent;
    margin: 0;
    text-align: left;
    z-index: 1111 !important;
}

#wb_CssMenu1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
}

#wb_CssMenu1 li {
    float: left;
    margin: 0;
    padding: 0px 4px 0px 0px;
}

#wb_CssMenu1 a {
    display: block;
    float: left;
    color: #483D8B;
    border: 0px solid #CCCCCC;
    background-color: transparent;
    background-image: none;
    font-family: Arial;
    font-weight: normal;
    font-size: 12px;
    font-style: normal;
    text-decoration: none;
    height: 28px;
    line-height: 28px;
    padding: 0px 5px 0px 5px;
    vertical-align: middle;
    text-align: left;
}

#wb_CssMenu1 li:hover a,
#wb_CssMenu1 a:hover {
    color: #483D8B;
    border: 0px solid #2E6DA4;
    background-color: transparent;
    background-image: none;
}

#wb_CssMenu1 li.firstmain {
    padding-left: 0px;
}

#wb_CssMenu1 li.lastmain {
    padding-right: 0px;
}

#wb_CssMenu1 br {
    clear: both;
    font-size: 1px;
    height: 0;
    line-height: 0;
}

#wb_Text1 {
    background-color: transparent;
    background-image: none;
    border: 0px solid #000000;
    padding: 0;
    margin: 0;
    text-align: right;
}

#wb_Text1 div {
    text-align: right;
}

#wb_Text1 {
    display: block;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}